.paginator {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif, serif;
    font-weight: normal;
    font-size:10pt;
    margin:5px auto;
	overflow: hidden;
    padding-top: 15px;
}
.paginator table {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}
.paginator table tbody {
    border: none;
}
#content .paginator table td,
.paginator table td {
    padding:0;
    white-space:nowrap;
    text-align:center;
    font-size:10pt;
}
.paginator .left{
    text-align:right;
    padding: 0 5px 0 0;
    width:107px;
    color: #aaa;
}

.paginator .right{
    text-align:left;
    padding: 0 0 0 5px;
    width:107px;
    color: #aaa;
}

.paginator .left a,
.paginator .right a{
    padding: 0;
}

.paginator .top a {
    color:#006baf;
}
.paginator .bottom {
    font-size:9pt;
}
.paginator .bottom a{
    color:#004a79;
}

.paginator .spaser{
    width:20px;
}

.paginator td span {
    display:block;
    padding:3px 0;
    color:#fff;
}
.paginator td span strong,
.paginator td span a {
    padding:2px 6px;
}

.paginator td span a {color:#333;}
.paginator td span a:hover {color:#fff; background:#2b90d0; text-decoration:none;}



.paginator td span strong {
    background:#2b90d0;
    font-style:normal;
    font-weight:normal;
}
.paginator .scroll_bar {
    width:100%;
    height:20px;
    position:relative;
    margin-top:10px;
}
.paginator .scroll_trough {
    width:100%;
    height:3px;
    background:#ccc;
    overflow:hidden;
}
.paginator .scroll_thumb {
    position:absolute;
    z-index:2;
    width:0;
    height:3px;
    top:0;
    left:0;
    font-size:1px;
    background:#363636;
}
.paginator .scroll_knob {
    position:absolute;
    top:-5px;
    left:50%;
    margin-left:-10px;
    width:20px;
    height:20px;
    overflow:hidden;
    background:url('../img/slider.gif') no-repeat 50% 50%;
    cursor:pointer;
    cursor:hand;
}
.paginator .current_page_mark {
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width:0;
    height:3px;
    overflow:hidden;
    background:#55a6d9;
}

.fullsize .scroll_thumb {
    display:none;
}

.paginator_pages {
    width:600px;
    text-align:right;
    font-size:9pt;
    color:#808080;
    margin-top:-10px;
}

.paginator .pager {
    width: 400px;
    margin: 0 auto;
    font-size: 9pt;
}
.paginator .item-list ul li {
    margin: 0;
    padding: 3px;
}
.paginator .item-list ul li a {
    padding: 0;
}